<template>
  <div>
    <h4>
      <span v-b-toggle="'collapse-' + identifier">👁 </span>
      <a :href="link" target="_blank">{{ title }} ({{ items.length }})</a>
    </h4>

    <b-collapse :id="'collapse-' + identifier" visible>
      <b-table-simple hover>
        <b-tbody>
          <b-tr v-for="item in items" :key="item.id" :class="rowClass(item)">
            <b-td>
              <gl-icon name="lock" :size="12" v-if="item.confidential" />
              <a :href="item.webUrl" class="link font-weight-bold" target="_blank">
                {{ item.title }}
              </a>

              <div style="margin-top: 10px">
                <div class="row">
                  <div class="col-sm" align-h="start">
                    <gl-icon name="issues" :size="12" /> <a :href="item.webUrl" class="text-reset" target="_blank">{{ item.reference }}</a>
                  </div>
                </div>

                  <div class="row">
                    <div class="col-sm" align-h="start">
                      <gl-icon name="calendar" :size="12" /> {{ milestoneTitle(item) }}&nbsp;
                      <gl-icon name="weight" :size="12" /> {{ weightFor(item) }}&nbsp;
                      <gl-icon name="clock" :size="12" /> {{ updatedAt(item.updatedAt) }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm" align-h="start">
                      <Persons :people="item.assignees.nodes" heading="Assignee(s)" />
                    </div>
                  </div>

                  <div class="row" v-if="renderLabels">
                    <div class="col-sm" align-h="start">
                      <Labels :item="item" />
                    </div>
                  </div>
                </div>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-collapse>

    <br />
  </div>
</template>

<script>
import Persons from './Persons.vue';
import Labels from './Labels.vue';
import { GlIcon } from "@gitlab/ui";
import moment from "moment";

export default {
  name: 'Issues',

  props: {
    identifier: String,
    title: String,
    link: String,
    items: Array,
    fields: Array,
    renderLabels: Boolean
  },

  components: {
    Persons,
    Labels,
    GlIcon,
  },

  methods: {
    rowClass: function(item) {
      if (item.confidential) {
        return "confidential";
      } else {
        return "";
      }
    },

    milestoneTitle: function(item) {
      if (item.milestone) {
        return item.milestone.title;
      } else {
        return 'n/a';
      }
    },

    weightFor: function(item) {
      if (item.weight) {
        return item.weight;
      } else {
        return 'n/a';
      }
    },

    updatedAt: function(updatedAt) {
      return moment(String(updatedAt)).format('Do MMMM YYYY hh:mm A')
    }
  }
}
</script>

<style scoped>
tr.confidential {
  border: 3px orange dashed;
  background-color: #ffd78e;
}
</style>
