<template>
  <ul>
    <li v-bind:key="label.id" v-for="(label) in item.labels.nodes">
      <span :style="{ 'background-color': label.color, 'color': label.textColor, }">
        {{ label.title }}
      </span>
    </li>
  </ul>
</template>

<script>

export default {
  name: 'Labels',

  props: {
    item: Object,
  },

  components: {
  },

  methods: {
  }
}
</script>

<style scoped>

ul {
  font-size: 85%;
  margin: 6px 0 0 0;
}

li {
  margin: 0 6px 0 0;
}

li span {
  border-radius: 6px;
  float: left;
  padding: 2px 6px;
}

</style>
