<template>
  <div>
    <h4>
      <span v-b-toggle="'collapse-' + identifier">👁 </span>
      <a :href="link" target="_blank">{{ title }} ({{ items.length }})</a>
    </h4>

    <b-collapse :id="'collapse-' + identifier" visible>
      <b-table-simple hover>
        <b-tbody>
          <b-tr v-for="item in items" :key="item.id" :class="rowClass(item)">
            <b-td>
              <span v-b-tooltip.hover :title="'CI status: ' + pipelineStatus(item.headPipeline)">
                <a :href="pipelineUrl(item)" class="link font-weight-bold" target="_blank">
                  <gl-icon :name="'status_' + pipelineStatus(item.headPipeline)" :class="'ci-status-' + pipelineStatus(item.headPipeline)" />
                </a>
              </span>

              <span v-b-tooltip.hover :title="'Mergeable: ' + item.mergeable">
                <gl-icon name="check" :class="'mr-mergeable-' + item.mergeable" />
              </span>

              <a :href="item.webUrl" class="link font-weight-bold" :class="{ 'updated-today' : updatedToday(item.updatedAt) }" target="_blank">{{ item.title }}</a>

              <div style="margin-top: 10px">
                <gl-icon name="merge-request" :size="12"/> <a :href="item.webUrl" class="text-reset" target="_blank">{{ item.reference }}</a>
                <br/>

                <div class="row">
                  <div class="col-sm-9">
                    <gl-icon name="calendar" :size="12"/> {{ milestoneTitle(item) }}&nbsp;
                    <gl-icon name="clock" :size="12"/> {{ updatedAt(item.updatedAt) }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-11" style="padding-right: 0">
                    <Persons :people="item.assignees.nodes" heading="Assignee(s)" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-11" style="padding-right: 0">
                    <Persons :people="item.reviewers.nodes" heading="Reviewer(s)" />
                  </div>
                </div>

                <div class="row" v-if="renderLabels">
                  <div class="col-sm" align-h="start">
                    <Labels :item="item" />
                  </div>
                </div>
              </div>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-collapse>

    <br/>
  </div>
</template>

<script>
import Persons from './Persons.vue';
import Labels from './Labels.vue';
import { GlIcon } from "@gitlab/ui";
import moment from "moment";

export default {
  name: 'MergeRequests',

  props: {
    identifier: String,
    title: String,
    link: String,
    items: Array,
    fields: Array,
    renderLabels: Boolean
  },

  components: {
    Persons,
    Labels,
    GlIcon,
  },

  methods: {
    rowClass: function(item) {
      if (item.headPipeline) {
        return "ci-" + item.headPipeline.status.toLowerCase();
      } else {
        return "";
      }
    },

    pipelineStatus: function(pipeline) {
      if (pipeline) {
        return pipeline.status.toLowerCase();
      } else {
        return "notfound";
      }
    },

    pipelineUrl: function(item) {
      if (item.headPipeline) {
        var id = item.headPipeline.id.replace("gid://gitlab/Ci::Pipeline/", "");
        return `${item.sourceProject.webUrl}/-/pipelines/${id}`;
      } else {
        return `${item.sourceProject.webUrl}`;
      }
    },

    sourceBranchURL: function(item) {
      return `${item.sourceProject.webUrl}/-/tree/${item.sourceBranch}`;
    },

    milestoneTitle: function(item) {
      if (item.milestone) {
        return item.milestone.title;
      } else {
        return 'n/a';
      }
    },

    updatedAt: function(updatedAt) {
      return moment(String(updatedAt)).format('Do MMMM YYYY hh:mm A')
    },

    updatedToday: function(updatedAt) {
      return moment().format('DD/MM/YYYY') == moment(String(updatedAt)).format('DD/MM/YYYY');
    }
  }
}
</script>

<style scoped>
tr.ci-running {
  background-color: #0080ff2b;
}

tr.ci-success {
  background-color: #9aff0021;
}

tr.ci-failed {
  background-color: #ff00000d;
}

.ci-status-running {
  fill: #1f75cb;
}

.ci-status-canceled {
  fill: #000;
}

.ci-status-failed {
  fill: #dd2b0e;
}

.ci-status-success {
  fill: rgb(88, 155, 132);
}

.mwps-status {
  margin-left: 1px;
}

.mwps-status-true {
  fill: rgb(88, 155, 132);
}

.mwps-status-false {
  fill: #b4b4b4;
}

.mr-approved-true {
  fill: rgb(88, 155, 132)
}

.mr-approved-false {
  fill: #b4b4b4;
}

.mr-mergeable-true {
  fill: rgb(88, 155, 132);
}

.mr-mergeable-false {
  fill: #b4b4b4;
}

li.person {
  margin-left: 0;
  margin-right: 0;
}

a.updated-today {
  margin-left: 4px;
}
</style>
