<template>
  <div v-if="people.length > 0">
    <span class="font-weight-bold">{{ heading }}:</span>

    <span class="person" v-bind:key="person.id" v-for="(person, index) in people">
      <a :href="person.webUrl" class="text-reset" target="_blank">
        {{ person.name }}
      </a>
      <span v-if="index + 1 < people.length">, </span>
    </span>
  </div>
</template>

<script>

export default {
  name: 'Persons',

  props: {
    people: Array,
    heading: String,
  },

  components: {
  },

  methods: {
  }
}
</script>

<style scoped>

</style>
