<template>
  <div>
    <h4>
      <span v-b-toggle="'collapse-' + identifier">👁 </span>
      <a :href="link" target="_blank">{{ title }} ({{ items.length }}{{ moreItemsSuffix(pageInfo.hasNextPage) }})</a>
    </h4>

    <b-collapse :id="'collapse-' + identifier" visible>
      <b-table-simple hover>
        <b-tbody>
          <b-tr v-for="item in items" :key="item.id">
            <b-td>
              <span class="font-weight-bold">{{ niceType(item.targetType) }}</span>{{ niceEntityName(item.targetEntity) }}
              <br/>
              <a :href="item.targetEntity.webUrl" class="link" target="_blank">{{ item.author.name}}: {{ item.body }}</a>
              <br/><br/>
              <gl-icon name="clock" :size="12"/> {{ updatedAt(item.createdAt) }}
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-collapse>
  </div>
</template>

<script>
import { GlIcon } from "@gitlab/ui";
import moment from "moment";

export default {
  name: 'Todos',

  props: {
    identifier: String,
    title: String,
    link: String,
    items: Array,
    fields: Array,
    pageInfo: Object,
  },

  components: {
    GlIcon
  },

  methods: {
    niceType: function(targetType) {
      switch(targetType) {
        case "MERGEREQUEST":
          return "Merge Request"
        case "ISSUE":
          return "Issue";
        default:
          return targetType;
      }
    },

    niceEntityName: function (targetEntity) {
      return targetEntity?.name ? ': ' + targetEntity.name : '';
    },

    moreItemsSuffix: function(hasNextPage) {
      return hasNextPage ? "+" : ""
    },

    milestoneTitle: function(item) {
      if (item.milestone) {
        return item.milestone.title;
      } else {
        return 'n/a';
      }
    },

    updatedAt: function(updatedAt) {
      return moment(String(updatedAt)).format('Do MMMM YYYY hh:mm A')
    }
  }
}
</script>

<style scoped>
</style>
