<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row" v-if="currentState == 'loading'">
        <p class="text-center" style="width: 100%">Waiting for data..</p>
      </div>

      <div class="row" v-if="currentState == 'error'">
        <p class="text-center" style="width: 100%">Unfortunately and error occurred. Please inspect your web browser's JS console to find out why.</p>
      </div>

      <div class="row" v-if="currentState == 'loaded'">
        <div class="col">
          <MergeRequests identifier="merge-requests-to-review-unreviewed" title="Assigned MRs (unreviewed)" :link="`${this.gitlabUrl()}/dashboard/merge_requests?reviewer_username=${myUsername}`" :items="mergeRequestsToReviewUnreviewed" :fields="mergeRequestFields" :renderLabels="renderLabels" />
          <MergeRequests identifier="merge-requests-to-review-reviewed" title="Assigned MRs (reviewed)" :link="`${this.gitlabUrl()}/dashboard/merge_requests?reviewer_username=${myUsername}`" v-if="mergeRequestsToReviewReviewed.length > 0" :items="mergeRequestsToReviewReviewed" :fields="mergeRequestFields" :renderLabels="renderLabels" />
          <MergeRequests identifier="merge-requests-to-review-approved" title="Assigned MRs (approved)" :link="`${this.gitlabUrl()}/dashboard/merge_requests?reviewer_username=${myUsername}`" v-if="mergeRequestsToReviewApproved.length > 0" :items="mergeRequestsToReviewApproved" :fields="mergeRequestFields" :renderLabels="renderLabels" />
          <Todos identifier="my-todos" title="My TODOs" :link="`${this.gitlabUrl()}/dashboard/todos`" v-if="renderTodos && myTodos.length > 0" :items="myTodos" :fields="myTodosFields" :pageInfo="myTodosPageInfo"/>
        </div>
        <div class="col">
          <div v-for="(section, _, index) in myCustomIssues" :key="index">
            <Issues :identifier="`my-custom-issues-${section.id}`" :title="`My ${section.title} Issues`" v-if="section.issues.length > 0" :items="section.issues" :fields="issueFields" :renderLabels="renderLabels" />
          </div>
          <Issues identifier="my-in-dev-issues" title="My In Dev Issues" :link="`${this.gitlabUrl()}/dashboard/issues?assignee_username=${myUsername}&label_name[]=workflow::in+dev`" v-if="myInDevIssues.length > 0" :items="myInDevIssues" :fields="issueFields" :renderLabels="renderLabels" />
          <Issues identifier="my-in-review-issues" title="My In Review Issues" :link="`${this.gitlabUrl()}/dashboard/issues?assignee_username=${myUsername}&label_name[]=workflow::in+review`" v-if="myInReviewIssues.length > 0" :items="myInReviewIssues" :fields="issueFields" :renderLabels="renderLabels" />
          <Issues identifier="my-blocked-issues" title="My Blocked Issues" :link="`${this.gitlabUrl()}/dashboard/issues?assignee_username=${myUsername}&label_name[]=workflow::blocked`" v-if="myBlockedIssues.length > 0" :items="myBlockedIssues" :fields="issueFields" :renderLabels="renderLabels" />
          <Issues identifier="my-assigned-issues" title="My Assigned Issues" :link="`${this.gitlabUrl()}/dashboard/issues?assignee_username=${myUsername}`" v-if="myAssignedIssues.length > 0" :items="myAssignedIssues" :fields="issueFields" :renderLabels="renderLabels" />
        </div>
        <div class="col">
          <MergeRequests identifier="my-in-review-merge-requests" title="My In Review MRs" :link="`${this.gitlabUrl()}/dashboard/merge_requests?assignee_username=${myUsername}`" v-if="myInReviewMergeRequests.length > 0" :items="myInReviewMergeRequests" :fields="mergeRequestFields" :renderLabels="renderLabels" />
          <MergeRequests identifier="my-wip-merge-requests" title="My WIP MRs" :link="`${this.gitlabUrl()}/dashboard/merge_requests?scope=all&state=opened&assignee_username=${myUsername}&reviewer_id=None`" v-if="myWIPMergeRequests.length > 0" :items="myWIPMergeRequests" :fields="mergeRequestFields" :renderLabels="renderLabels" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Todos from './components/Todos.vue';
import Issues from './components/Issues.vue';
import MergeRequests from './components/MergeRequests.vue';
import axios from "axios";

export default {
  name: 'App',

  components: {
    Issues,
    Todos,
    MergeRequests
  },

  data() {
    function parseBoolean(value) {
      return value === "true" ? true : value === "false" ? false : null
    }
    const maxTodos = parseInt(process.env.VUE_APP_MAX_TODOS);
    const renderTodos = parseBoolean(process.env.VUE_APP_RENDER_TODOS);
    const renderLabels = parseBoolean(process.env.VUE_APP_RENDER_LABELS);
    return {
      currentState: 'loading',

      myUsername: '',

      maxTodos: isNaN(maxTodos) ? 100 : maxTodos,
      renderTodos: renderTodos ?? (!isNaN(maxTodos) && maxTodos > 0),
      renderLabels: renderLabels ?? true,

      // My TODOs
      myTodos: [],
      myTodosFields: [
        {
          key: 'url',
          label: 'Title'
        },
        {
          key: 'author',
          formatter: value => {
            return value.name;
          }
        }
      ],
      myTodosPageInfo: {},

      // My Custom Issues
      myCustomIssues: {},

      // My In Dev Issues
      myInDevIssues: [],

      // My In Review Issues
      myInReviewIssues: [],

      // My Blocked Issues
      myBlockedIssues: [],

      // My assigned Issues
      myAssignedIssues: [],

      issueFields: [
        {
          key: 'url',
          label: 'Issue'
        },
        'assignees'
      ],

      // Merge Requests to review
      mergeRequestsToReviewUnreviewed: [],
      mergeRequestsToReviewReviewed: [],
      mergeRequestsToReviewApproved: [],

      // My In Review Merge Requests
      myInReviewMergeRequests: [],

      // My WIP Merge Requests
      myWIPMergeRequests: [],

      // Common Merge Request fields
      mergeRequestFields: [
        {
          key: 'url',
          label: 'MR'
        },
        'people'
      ]
    }
  },

  mounted() {
    var refreshEveryMins = 3;

    if (typeof process.env.VUE_APP_REFRESH_MINS !== 'undefined') {
      if (process.env.VUE_APP_REFRESH_MINS == 0 || process.env.VUE_APP_REFRESH_MINS > 3) {
        refreshEveryMins = process.env.VUE_APP_REFRESH_MINS;
      }
    }

    if (typeof process.env.VUE_APP_GITLAB_DASHBOARD_API_TOKEN === 'undefined') {
      this.currentState = 'error';
      throw new Error('VUE_APP_GITLAB_DASHBOARD_API_TOKEN is not defined! Please consult the README.md');
    }

    var apiToken = process.env.VUE_APP_GITLAB_DASHBOARD_API_TOKEN;

    console.log(`mounted(): graphQlEndpoint is '${this.graphQlEndpoint()}'`);
    console.log(`mounted(): rendering TODOs: ${this.renderTodos}`);
    console.log(`mounted(): rendering Labels: ${this.renderLabels}`);
    console.log(`mounted(): customIssues: ${this.customIssues().length}`);

    if (refreshEveryMins == 0) {
      console.log(`mounted(): Refreshing disabled`);
    } else {
      console.log(`mounted(): Refreshing every ${refreshEveryMins} min(s)`);
    }

    this.getInitialData(apiToken, refreshEveryMins);
  },

  beforeDestroy () {
    clearInterval(this.pollData);
  },

  methods: {
    gitlabUrl: function() {
      if (typeof process.env.VUE_APP_GITLAB_URL !== 'undefined') {
        return process.env.VUE_APP_GITLAB_URL;
      } else {
        return 'https://gitlab.com';
      }
    },

    graphQlEndpoint: function() {
      return `${this.gitlabUrl()}/api/graphql`;
    },

    getTodos: function(apiToken) {
      return axios.get(this.graphQlEndpoint(), {
        headers: { 'PRIVATE-TOKEN': `${apiToken}` },
        params: {
          query: `
              {
                currentUser {
                  username
                  todos(first: ${this.maxTodos}) {
                    nodes {
                      id
                      body
                      action
                      targetType
                      createdAt
                      targetEntity {
                        name
                        webUrl
                      }
                      author {
                        name
                      }
                    }
                    pageInfo {
                      hasNextPage
                    }
                  }
                }
              }
            `
        }
      })
    },

    getInitialData: function(apiToken, refreshEveryMins) {
      var startTime = Date.now();
      console.log("getInitialData(): Fetching data..")

      axios.all([
          this.getTodos(apiToken)
      ])
      .then(axios.spread((myTodosResponse) => {
        console.log(`getInitialData(): Took ${Date.now() - startTime} msec(s)`)

        this.myUsername = myTodosResponse.data.data.currentUser.username;
        this.myTodos = myTodosResponse.data.data.currentUser.todos.nodes;
        this.myTodosPageInfo = myTodosResponse.data.data.currentUser.todos.pageInfo;

        this.getData(apiToken, this.myUsername);

        if (refreshEveryMins > 0) {
          this.pollData = setInterval(() => {
            this.getData(apiToken, this.myUsername);
          }, refreshEveryMins * 60000)
        }
      }))
      .catch((err) => {
        console.log('getInitialData(): FAIL', err)
        this.currentState = 'error';
      });
    },

    getData: function(apiToken, myUsername) {
      var startTime = Date.now();
      console.log("getData(): Fetching data..")

      var commonMergeRequestQuery = `
        nodes {
          title
          webUrl
          conflicts
          mergeableDiscussionsState
          mergeWhenPipelineSucceeds
          reference(full: true)
          approved
          labels {
            nodes {
              title
              color
              textColor
            }
          }
          approvedBy {
            nodes {
              id
              username
            }
          }
          mergeable
          sourceBranch
          sourceProject {
            webUrl
          }
          milestone {
            title
          }
          assignees {
            nodes {
              id
              name
              webUrl
            }
          }
          reviewers {
            nodes {
              id
              username
              name
              webUrl
              mergeRequestInteraction {
                reviewState
              }
            }
          }
          updatedAt
          headPipeline {
            id
            status
          }
        }
      `;

      axios.all([
        this.getTodos(apiToken),

        // My Assigned Issues
        axios.get(this.graphQlEndpoint(), {
          headers: { 'PRIVATE-TOKEN': `${apiToken}` },
          params: {
            query: `
              {
                issues(
                  assigneeUsernames: ["${myUsername}"]
                  state: opened
                  sort: MILESTONE_DUE_ASC
                ) {
                  nodes {
                    id
                    webUrl
                    title
                    confidential
                    reference(full: true)
                    weight
                    milestone {
                      title
                    }
                    updatedAt
                    assignees {
                      nodes {
                        id
                        name
                        webUrl
                      }
                    }
                    labels {
                      nodes {
                        title
                        color
                        textColor
                      }
                    }
                  }
                }
              }
            `
          }
        }),

        // Merge Requests to review
        axios.get(this.graphQlEndpoint(), {
          headers: { 'PRIVATE-TOKEN': `${apiToken}` },
          params: {
            query: `
              {
                currentUser {
                  id
                  reviewRequestedMergeRequests(state: opened, sort: UPDATED_DESC) {
                    ${commonMergeRequestQuery}
                  }
                }
              }
            `
          }
        }),

        // My Assigned Merge Requests
        axios.get(this.graphQlEndpoint(), {
          headers: { 'PRIVATE-TOKEN': `${apiToken}` },
          params: {
            query: `
              {
                currentUser {
                  id
                  assignedMergeRequests(state: opened, sort: UPDATED_DESC) {
                    ${commonMergeRequestQuery}
                  }
                }
              }
            `
          }
        })
      ])
      .then(axios.spread((myTodosResponse, myAssignedIssuesResponse, mergeRequestsToReviewResponse, myAssignedMergeRequestsResponse) => {
        console.log(`getData(): Took ${Date.now() - startTime} msec(s)`)

        this.myCustomIssues = {};
        this.myInDevIssues = [];
        this.myInReviewIssues = [];
        this.myBlockedIssues = [];
        this.myAssignedIssues = [];
        this.mergeRequestsToReviewUnreviewed = [];
        this.mergeRequestsToReviewReviewed = [];
        this.mergeRequestsToReviewApproved = [];

        this.myUsername = myTodosResponse.data.data.currentUser.username;
        this.myTodos = myTodosResponse.data.data.currentUser.todos.nodes;
        this.myTodosPageInfo = myTodosResponse.data.data.currentUser.todos.pageInfo;

        for (const item of myAssignedIssuesResponse.data.data.issues.nodes) {
          var itemLabels = [];

          if (item.labels.nodes.length == 0) {
            continue;
          }

          for (const label of item.labels.nodes) {
            itemLabels.push(label.title);
          }

          for (const customSection of this.customIssues()) {
            var labelsInc = customSection.labels_inc;
            var labelsExc = customSection.labels_exc;

            if (typeof labelsInc !== 'undefined' && labelsInc.length > 0 && this.$_.isEqual(this.$_.intersection(itemLabels, labelsInc), labelsInc)) {
              var shouldAdd = true;

              if (typeof labelsExc !== 'undefined' && labelsExc.length > 0 && this.$_.isEqual(this.$_.intersection(itemLabels, labelsExc), labelsExc)) {
                shouldAdd = false;
              }

              if (shouldAdd) {
                if (typeof this.myCustomIssues[customSection.name] === 'undefined') {
                  this.myCustomIssues[customSection.name] = { "title": customSection.name, "issues": []};
                }

                this.myCustomIssues[customSection.name].issues.push(item)
              }
            }
          }

          if (itemLabels.includes("workflow::in dev")) {
            this.myInDevIssues.push(item);
          } else if (itemLabels.includes("workflow::in review")) {
            this.myInReviewIssues.push(item);
          } else if (itemLabels.includes("workflow::blocked")) {
            this.myBlockedIssues.push(item);
          } else {
            this.myAssignedIssues.push(item);
          }
        }

        for (const item of mergeRequestsToReviewResponse.data.data.currentUser.reviewRequestedMergeRequests.nodes) {
          var myReviewState = "";
          var approvedByMe = false;

          for (const approver of item.approvedBy.nodes) {
            if (approver.username == myUsername) {
              approvedByMe = true;
              break;
            }
          }

          if (!approvedByMe) {
            for (const reviewer of item.reviewers.nodes) {
              if (reviewer.username == myUsername) {
                myReviewState = reviewer.mergeRequestInteraction.reviewState;
                break;
              }
            }
          }

          if (approvedByMe) {
            this.mergeRequestsToReviewApproved.push(item);
          } else if (myReviewState == "REVIEWED" || myReviewState == "REQUESTED_CHANGES") {
            this.mergeRequestsToReviewReviewed.push(item);
          } else {
            this.mergeRequestsToReviewUnreviewed.push(item);
          }
        }

        this.myInReviewMergeRequests = [];
        this.myWIPMergeRequests = [];

        for (const item of myAssignedMergeRequestsResponse.data.data.currentUser.assignedMergeRequests.nodes) {
          if (item.reviewers.nodes.length > 0) {
            this.myInReviewMergeRequests.push(item);
          } else {
            this.myWIPMergeRequests.push(item);
          }
        }

        this.currentState = 'loaded';
      }))
      .catch((err) => {
        console.log('getData(): FAIL', err)
        this.currentState = 'error';
      });
    },

    customIssues: function() {
      var customIssuesJSON = process.env.VUE_APP_CUSTOM_ISSUES;

      if (typeof customIssuesJSON === 'undefined' || customIssuesJSON == "") {
        return {};
      } else {
        return(JSON.parse(customIssuesJSON));
      }
    },
  }
}
</script>

<style>
body {
  background-color: #444 !important;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  padding-top: 20px;
  font-size: 0.9em;
}

h1,
h4 {
  font-weight: normal;
}

h4 a {
  color: #fff !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #000 !important;
}

ul.people {
  margin-bottom: 0;
}

li.person {
  margin-left: 0;
}

a.link {
  font-weight: bold;
  text-decoration: none;
}

tbody {
  background-color: #fff;
}

thead tr th {
  background-color: #c076e1;
  color: #fff;
  border-top: none !important;
}

thead tr th:first-child {
  border-top-left-radius: 8px
}

thead tr th:last-child {
  border-top-right-radius: 8px
}

th.timestamp {
  min-width: 188px;
}

td.ci_status div {
  padding-bottom: 6px;
}

.updated-today {
  color: green;
}

svg.gl-icon {
  margin: -3px 0 0 0;
}
</style>
